/* Your styles should be mobile-first and responsive */

/** 
  * If you are unclear on how to utilize a mobile-first, responsive technique to write your CSS, here is an example: 
  *
  * https://github.com/andreacardybailey/responsive_example/blob/master/styles/responsive-base.css 
  *
*/

* {
  box-sizing: border-box;
}
header, main, img {
  display: flex;
  justify-content: center;
}

body {
  background-color: #000;
  margin-top: 100px;

}


h1, h2, p {
  color: wheat;
  text-align: center;
}

form, ul {
  color:white;
}

ol, ul{
  list-style: none;
  padding-left: 40%;
}

.btn, .submitBtn {
  text-align: center;
  margin-top: 20px;
  
}

.block {
  display: block;
  width: 100%;
  box-sizing: border-box;
}

.answer-choices {
  display: flex;
  justify-content: center;
}

.main-nav-list {
  list-style: none;
  padding: 0;
}
.main-nav-list-item {
  padding: .7rem 0;
  text-align:center;
  background-color: lime;
  border: 1px solid #000;
}

.box {
  background-color: pink;
  border:1px solid blue;
  margin: 10px 0;
  padding:10px;
}

/*
 * Here is where you would override your base styles
 * for screens that are larger than 700px.
 *
 * Write these styles 2nd!
 *
 * You don't need to write separate styles here
 * UNLESS you are overriding your base styles.
 */
@media (min-width: 700px) {
  body {
    width: 80%;
    margin: 0 auto;
  }
  .main-nav-list-item {
    float:left;
    width: 25%;
  }
  /*
  * A grid can do this math for you!
  */
  .box {
    width: 47%;
    float: left;
  }
  /*
   * targeting every other '.box' to add a right margin
   */
  .box:nth-child(odd) {
    margin-right: 6%;
  }
}

/*
 * Here is where you would write your styles for screens
 * larger than 1024px.
 *
 * These styles OVERRIDE any styles written above.
 *
 * Write these styles 3rd!
 */
@media (min-width: 1024px) {
  /*
  * A grid can do this math for you!
  */
  .box {
    width: 29.33%;
    float: left;
    margin-right: 6%;
  }
  /*
   * targeting every third '.box' to add a right margin
   */
  .box:nth-child(3n+3) {
    margin-right: 0;
  }
}

/*
 * clearfix hack 
 * https://css-tricks.com/snippets/css/clear-fix/
 */

.group:after {
  content: "";
  display: table;
  clear: both;
}


